---
layout: default
title: CS GRIND 
---

<div id="home" >
    <h2 class="index">Blog</h2> 
    <ul class="posts">
        {% for post in site.posts%}
            {% if post.category == "blog" %}
                <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2 class="index">Notes</h2>
    <ul class="posts">
        {% for post in site.posts%}
            {% if post.category == "booknote" %}
                <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
